@import url ("style/heard.css");
:root {
    --cor-de-fundo: #2e60c4;
    --branco:# FFFFFF;
    --laranja: #EB9BOO;
}
body {
    background-color:var(--cor-de-fundo);
}
h1{
    background-color: rgb(194, 63, 63);
}
